body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(25, 9, 172);
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

nav li {
    margin: 0 15px;
}

img{
    height: 470px;
    width: 100%;
}

h2{
    color: blue;
}

b{
    color: rgb(57, 57, 194);
}

.par{
    margin-left: 20px;
}
footer{
    text-align: center;
}